@model ContactModel
<div class="row">
    <div class="col-sm-5 col-md-5">
        @Html.Raw(Model.Map)
        @Html.Raw(Model.Description)
    </div>
    <div class="col-sm-4">
        <div class="address">
            <h5><b>Name: @Model.Name</b></h5>
            <h5><b>Email: @Model.Email</b></h5>
            <h5><b>@Model.Phone</b></h5>

        </div>
    </div>
</div>